.nav_bar{
    -fx-background-color : linear-gradient(to bottom right, darkblue , #42A5F5);
}

.nav_button{
    -fx-background-color : transparent;
    -fx-border-color : #fff;
    -fx-border-width : 1px;
    -fx-border-radius : 5px;
    -fx-text-fill : #fff;
    -fx-font-family : Arial;
    -fx-cursor : hand;
    -fx-font-size : 14px;
}

.nav_button:hover{
    -fx-background-color : #fff;
    -fx-text-fill : #000;
}

.nav_button_active{
    -fx-background-color : #fff;
    -fx-text-fill : #000;
    -fx-border-width : 1px;
    -fx-border-radius : 5px;
    -fx-font-family : Arial;
    -fx-cursor : hand;
    -fx-font-size : 14px;
}

.icon_active{
    -fx-fill: black;
}

.nav_button .icon {
    -fx-fill: inherit;
}

.nav_button:hover .icon {
    -fx-fill: black;
}

.radius{
    -fx-background-radius: 5px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white_bg{
    -fx-background-color : #fff;
}

.table-view{
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-border-radius: 8px;
    -fx-border-color : black;
}
.table-view .column-header-background{
    -fx-background-color : linear-gradient(to bottom right, darkblue , #42A5F5);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0 0 ;
}
.table-view .column-header, .filter{
    -fx-size: 40px;
    -fx-background-color: transparent;
}
.table-view .column-header .label{
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
}

.action-button {
    -fx-background-color: darkblue; /* Green background color */
    -fx-text-fill: white;         /* White text color */
    -fx-font-size: 14px;
    -fx-font-weight: bold;  /* Font size */
    -fx-padding: 5px 10px;         /* Padding */
    -fx-border-radius: 5px;        /* Border radius */
    -fx-cursor : hand;
}
.action-button:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
}

/* Style for the edit button */
.edit-button {
    -fx-background-color: #2196F3; /* Blue background color */
}

.edit-button:hover{
    -fx-background-color: #1666a6;
}

/* Style for the delete button */
.delete-button {
    -fx-background-color: #F44336; /* Red background color */
}
.delete-button:hover{
    -fx-background-color: #a72d25;
}

.save-button{
    -fx-background-color:  #1ea076; /* Green background color */
    -fx-text-fill: white;         /* White text color */
    -fx-font-size: 14px;
    -fx-font-weight: bold;  /* Font size */
    -fx-padding: 5px 10px;         /* Padding */
    -fx-border-radius: 5px;        /* Border radius */
    -fx-cursor : hand;
}
.save-button:hover{
    -fx-background-color: green;
    -fx-text-fill: white;

}
.annul-button{
    -fx-background-color: red; /* Green background color */
    -fx-text-fill: white;         /* White text color */
    -fx-font-size: 14px;
    -fx-font-weight: bold;  /* Font size */
    -fx-padding: 5px 10px;         /* Padding */
    -fx-border-radius: 5px;        /* Border radius */
    -fx-cursor : hand;
}


.annul-button:hover{
    -fx-background-color: #B21B1B;
    -fx-text-fill: white;
}

.image3{
-fx-background-image: url('../Styles/Images/ds.jpg');
    -fx-background-size: cover;
}